@use "../../styles/tokens";
@use "../../styles/mixins" as *;

.ui-spinner {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
